#output {
    font-family: sans-serif;
    padding:0.5em;
    background-color: rgba(0,0,0,0.1);
    box-sizing: border-box;
    border: 2px solid black;
    height:20%;
    flex-grow: 1;
    overflow: auto;
}
.log {
    color: black;
}
.runlog {
    color: rgb(2, 85, 2);
}
.error {
    color: rgb(216, 0, 0);
}
.warn {
    color: rgb(219, 106, 0);
}