#output {
    font-family: sans-serif;
    font-size:1em;
    padding:0.5em;
    background-color: rgba(0,0,0,0.1);
    box-sizing: border-box;
    border: 2px solid black;
    height:20%;
    flex-grow: 1;
    overflow: auto;
}
.log {
    color: black;
}
.log::before {
    content: "⠿ ";
}
.runlog {
    color: rgb(2, 85, 2);
}
.runlog:not(:first-of-type) {
    margin-top:2em;
}
.error {
    color: rgb(216, 0, 0);
}
.error::before {
    content:"☠ "
}
.warn {
    color: rgb(219, 106, 0);
}
.warn::before {
    content:"☢ "
}

.object-view {
    font-family: sans-serif;
    outline:0;
    border: 1px solid black;
    display: inline-block;
    padding: 0.2rem;
    padding-right: 0.6rem;
    background-color: white;
}

.object-view[open] summary {
    cursor: pointer;
    border-bottom: 1px solid black;
    padding: 0.2rem;
}

.object-view summary {
    padding: 0.2rem;
    outline: 0;
    user-select: none;
    -webkit-user-select: none;
    width:100%;
}

.string {
    color: red;
}

.number {
    color: blue;
}

.function {
    background-color: rgb(228, 228, 228);
    font-family: monospace;
    display:inline-block;
    width:50ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.object-view p {
    margin-left: 2ch;
    cursor: default;
}

#output p span::after {
    content: " - ";
}
#output p span:last-of-type::after {
    content: unset;
}